*
	padding: 0
	margin: 0
	border: 0
	transition: .7s ease-in-out
	box-sizing: border-box
*:before *:after
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box
a:focus,a:active
	outline: none
nav,footer,header,aside
	display: block
html,body
	height: max-content
	width: 100%
	line-height: 1
	font-size: 14px
	margin: 0 auto
	outline: none
	background-repeat: repeat
	background-size: auto
	scroll-behavior: smooth
input::-ms-clear
	display: none
input
	&::-webkit-input-placeholder
		color: grey
		padding: 10px
		text-overflow: ellipsis
	&::-moz-placeholder
		color: grey
		padding: 10px
		text-overflow: ellipsis
	&:-ms-input-placeholder
		color: grey
		padding: 10px
		text-overflow: ellipsis
	&::-webkit-inner-spin-button
		-webkit-appearance: none
	&::-webkit-outer-spin-button
		-webkit-appearance: none
	&[type='number']
		-moz-appearance: textfield
button:active, button:focus
	outline: none !important
button::-moz-focus-inner
	border: 0 !important
button
	cursor: pointer
button::-moz-focus-inner
	padding: 0
	border: 0
a,a:visited
	text-decoration: none
a:hover
	text-decoration: none
	outline: none !important
video:active, video:focus
	outline: none !important
ul li
	list-style: none

::-webkit-scrollbar-button
	background-repeat: no-repeat
	width: 3px
	height: 0px
::-webkit-scrollbar-track
	background-color: #32312e
	box-shadow: 0px 0px 3px #000 inset
::-webkit-scrollbar-thumb
	-webkit-border-radius: 5px
	border-radius: 5px
	background-color: #E632AA
	box-shadow: 0px 1px 1px #999 inset
	&:hover
		background-color: gold
::-webkit-resizer
	background-repeat: no-repeat
	width: 8px
	height: 0px
::-webkit-scrollbar
	width: 10px

::selection
	background-color: #dc143c

